.form-container > input {
    width: 95%;
}

mat-form-field {
    width: 100%;
    /*
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    */
}

.code-block {
    background-color: black;
}

.form-part {
    padding-left: 10px;
    padding-right: 10px;
}

.form-part button {
    width: 100%;
}   

.edit-fab-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }