<h1 class="mat-h1">Cr&eacute;ation d'une meta</h1>
<form class="form-container" [formGroup]="formgroup" (ngSubmit)="onSubmit(formgroup.value)">
    <!-- https://github.com/angular/flex-layout -->
    <div fxLayout="column" fxLayoutAlign="center">
        <div fxFlex="50"
            fxLayout="row" fxLayoutAlign="center" fxLayout.lt-md="column">
            <div fxFlex="50" fxFlex.lg="40" fxFlex.xl="30" class="form-part">
                <h2 class="mat-h2">Champs</h2>
                <mat-form-field>
                    <input
                        matInput
                        formControlName="name"
                        type="text"
                        placeholder="Nom de la meta"
                        required>
                    <mat-error *ngIf="formgroup.get('name').hasError('required')">
                        Le nom est <strong>requis</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <textarea
                        matInput
                        formControlName="description"
                        placeholder="Description"
                        cdkTextareaAutosize>
                    </textarea>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        formControlName="fullname"
                        type="text"
                        placeholder="Nom complet de la meta">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Type de donn&eacute;e</mat-label>
                    <mat-select
                        formControlName="service_type"
                        name="service_type"
                        required>
                        <mat-option *ngFor="let serviceType of AllServiceTypes" [value]="serviceType.value">
                            {{ serviceType.viewValue }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formgroup.get('service_type').hasError('required')">
                        Veuillez donner le type de source de donn&eacute;e
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        formControlName="url"
                        type="text"
                        placeholder="URL de la donnée (utilisé par le collecteur)"
                        required>
                    <mat-error *ngIf="formgroup.get('url').hasError('required')">
                            Une URL pour accéder à la donnée est <strong>requise</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        formControlName="crs"
                        type="text"
                        readonly
                        placeholder="CRS (Coordinate Reference System) des données géographiques (utilisé par le collecteur pour calculer les distances)">
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        formControlName="collect_interval"
                        type="time"
                        placeholder="Interval de collecte"
                        required>
                    <mat-error *ngIf="formgroup.get('collect_interval').hasError('required')">
                        Un interval de collecte est <strong>requis</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        formControlName="module"
                        type="text"
                        placeholder="Module (collecteur)"
                        required>
                    <mat-error *ngIf="formgroup.get('module').hasError('required')">
                        Un nom de module est <strong>requis</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        formControlName="data_source"
                        type="text"
                        placeholder="Source de la donnée"
                        required>
                    <mat-error *ngIf="formgroup.get('data_source').hasError('required')">
                        Une source de données est <strong>requise</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        formControlName="data_source_ref"
                        type="text"
                        placeholder="Documentation de référence"
                        required>
                    <mat-error *ngIf="formgroup.get('data_source_ref').hasError('required')">
                        Une documentation de référence pour la source de données est <strong>requise</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        formControlName="privacy"
                        type="text"
                        placeholder="Politique de confidentialité"
                        required>
                    <mat-error *ngIf="formgroup.get('privacy').hasError('required')">
                        Une politique de confidentialit&eacute; est <strong>requise</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        formControlName="license"
                        type="text"
                        placeholder="License"
                        required>
                    <mat-error *ngIf="formgroup.get('license').hasError('required')">
                        Une license est <strong>requise</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.lg="60" fxFlex.xl="70" class="form-part">
                <h2 class="mat-h2">Sch&eacute;ma</h2>
                <mat-form-field>
                    <textarea
                        matInput
                        formControlName="schema"
                        placeholder="Schéma"
                        required
                        cdkTextareaAutosize>
                    </textarea>
                    <mat-error *ngIf="formgroup.get('schema').hasError('required')">
                        Un sch&eacute;ma est <strong>requis</strong>
                    </mat-error>
                    <mat-error *ngIf="formgroup.get('schema').hasError('formatError')">
                        La syntaxe est <strong>incorrecte</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="form-part">
            <button mat-flat-button type="submit" color="primary">Ajouter</button>
        </div>
    </div>
</form>