<mat-toolbar color="primary">
  <!-- Menu button for responsive menu -->
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <!-- Back button -->
  <button
    type="button"
    aria-label="back"
    mat-icon-button
    matTooltip="Back"
    *ngIf="hasBack$ | async"
    (click)="onBack()">
    <mat-icon aria-label="Back icon">arrow_back</mat-icon>
  </button>

  <span>{{ appTitle }}</span>
  <!-- This fills the remaining space of the current row -->
  <span class="toolbar-fill-remaining-space"></span>
  <!-- Logout button -->
    <button
    type="button"
    aria-label="logout"
    mat-icon-button
    matTooltip="Logout"
    (click)="onLogout()">
    <mat-icon aria-label="logout">exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<!-- Application progress bar -->
<mat-progress-bar @onProgress
  [mode]="loaderStatus.mode"
  [value]="(loaderStatus.value$ | async) || loaderStatus.value"
  [bufferValue]="(loaderStatus.bufferValue$ | async) || loaderStatus.bufferValue"
  color="accent"
  *ngIf="loaderStatus$ | async as loaderStatus">
</mat-progress-bar>

<!-- Application menu & container -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <!-- Links -->
    <mat-nav-list>
      <a mat-list-item routerLink="/meta">Liste des metas</a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- Main content -->
  <mat-sidenav-content [@routeAnimations]="prepareRoute(outlet)">
    <div #outlet>
      <!-- Add Content Here -->
      <ng-content ></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
