<form class="form-container" [formGroup]="formgroup" (ngSubmit)="onSubmit(null)" (click)="test()">
    <mat-form-field *ngFor="let inputDesc of getEnabledFormDesc()" [ngSwitch]="inputDesc.inputType">
        <textarea *ngSwitchCase="'textarea'"
            matInput
            formControlName="{{ inputDesc.formFieldName || inputDesc.name }}"
            [readonly]="readonly"
            placeholder="{{ inputDesc.placeholder || inputDesc.name }}">
        </textarea>

        <input *ngSwitchDefault
            matInput
            formControlName="{{ inputDesc.formFieldName || inputDesc.name }}"
            type="{{ inputDesc.inputType }}"
            [readonly]="readonly"
            placeholder="{{ inputDesc.placeholder || inputDesc.name }}">
        
        <!--
        <mat-error *ngIf="inputErrors(inputDesc.formFieldName || inputDesc.name) as errors">
            Erreur : <ng-template ngFor let-error [ngForOf]="errors">{{ error }}</ng-template>
        </mat-error>
        -->

        <mat-error *ngIf="inputErrors(inputDesc.formFieldName || inputDesc.name) as errors">
            Erreur : <ng-template ngFor let-error [ngForOf]="errors">{{ error }}</ng-template>
        </mat-error>
        <!--
            <mat-error *ngIf="group.get(field.name).hasError(validation.name)">{{validation.message}}</mat-error>
        -->

    </mat-form-field>
</form>