<div class="grid-container">
  <h1 class="mat-h1">Liste des metas</h1>
  <mat-form-field class="full-width">
    <input matInput type="search" placeholder="Chercher..." class="search-input"
    (input)="onUserSearchInput($event)" [errorStateMatcher]="searchStateMatcher" #search>
    <mat-error *ngIf="searchError">
      Erreur de pattern: {{ searchError }}
    </mat-error>
    <button mat-icon-button matSuffix (click)="setFilter(search.value)"><mat-icon>search</mat-icon></button>
  </mat-form-field>

  <mat-grid-list [cols]="nCardsWidth" rowHeight="350px" *ngIf="metas$ | async as metas; else loading" @onLoad>
    <mat-grid-tile *ngFor="let meta of metas" [colspan]="1" [rowspan]="1" @onLoadSearch>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <span (click)="card_onClick(meta._id)">{{meta.name}}</span>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="card_onViewItem(meta._id)"><mat-icon>visibility</mat-icon> Voir</button>
              <button mat-menu-item (click)="card_onEditItem(meta._id)"><mat-icon>edit</mat-icon> &Eacute;diter</button>
              <button mat-menu-item (click)="card_onDeleteItem(meta._id)"><mat-icon>delete</mat-icon>Supprimer</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>{{ meta.description }}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <ng-template #loading>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </ng-template>
  <button button mat-fab class="add-fab-button" aria-label="Ajouter une meta" matTooltip="Ajouter une meta" matTooltipPosition="left" (click)="addMeta_onClick()">
    <mat-icon>add</mat-icon>
  </button>
</div>
