.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: justify;
}

.full-width {
  width: 100%;
}

.mat-card-title span:hover {
  cursor: pointer
}

.add-fab-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.mat-card {
  word-break: break-word;
  overflow: auto;
}