.form-container > input {
    width: 95%;
}

mat-form-field {
    width: 100%;
}

.code-block {
    background-color: black;
}

.form-part {
    padding-left: 10px;
    padding-right: 10px;
}

.edit-fab-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }