<div *ngIf="metaDescriptor" @onLoad>
    <h1 class="mat-h1">{{ metaDescriptor.name }}</h1>
    <form class="form-container" [formGroup]="formgroup" (ngSubmit)="onSubmit(null)">
        <!-- https://github.com/angular/flex-layout -->
        <div fxLayout="row" fxLayoutAlign="center" fxLayout.lt-md="column">
            <div fxFlex="50" fxFlex.lg="40" fxFlex.xl="30" class="form-part">
                <h2 class="mat-h2">Champs</h2>
                <mat-form-field>
                    <input
                        matInput
                        formControlName="name"
                        type="text"
                        readonly
                        placeholder="Nom de la meta"
                        required>
                </mat-form-field>

                <mat-form-field>
                    <textarea
                        matInput
                        formControlName="description"
                        readonly
                        placeholder="Description"
                        cdkTextareaAutosize>
                    </textarea>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        formControlName="fullname"
                        type="text"
                        readonly
                        placeholder="Nom complet de la meta">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Type de donn&eacute;e</mat-label>
                    <mat-select
                        formControlName="service_type"
                        name="service_type"
                        required>
                        <mat-option *ngFor="let serviceType of AllServiceTypes" [value]="serviceType.value">
                            {{ serviceType.viewValue }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formgroup.get('service_type').hasError('required')">
                        Veuillez donner le type de source de donn&eacute;e
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        formControlName="url"
                        type="text"
                        readonly
                        placeholder="URL de la donnée (utilisé par le collecteur)"
                        required>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        formControlName="crs"
                        type="text"
                        readonly
                        placeholder="CRS (Coordinate Reference System) des données géographiques (utilisé par le collecteur pour calculer les distances)">
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        formControlName="collect_interval"
                        type="time"
                        readonly
                        placeholder="Interval de collecte"
                        required>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        formControlName="module"
                        type="text"
                        readonly
                        placeholder="Module (collecteur)"
                        required>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        formControlName="data_source"
                        type="text"
                        readonly
                        placeholder="Source de la donnée"
                        required>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        formControlName="data_source_ref"
                        type="text"
                        readonly
                        placeholder="Documentation de référence"
                        required>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        formControlName="privacy"
                        type="text"
                        readonly
                        placeholder="Politique de confidentialité"
                        required>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        formControlName="license"
                        type="text"
                        readonly
                        placeholder="License"
                        required>
                </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.lg="60" fxFlex.xl="70" class="form-part">
                <h2 class="mat-h2">Sch&eacute;ma</h2>
                <pre><code [highlight]="metaDescriptor.schema | json" [languages]="['json']" lineNumbers="true"></code></pre>
                <!--
                <mat-form-field>
                    <textarea
                        matInput
                        formControlName="schema"
                        readonly
                        placeholder="Schéma">
                    </textarea>
                </mat-form-field>
                -->
            </div>
        </div>
    </form>
    <button button mat-fab class="edit-fab-button" aria-label="Ajouter une meta" matTooltip="Ajouter une meta" matTooltipPosition="left" (click)="onEditClick()">
      <mat-icon>edit</mat-icon>
    </button>
</div>