<h1 mat-dialog-title>Erreur: {{ message }}</h1>
<div mat-dialog-content>
  <div *ngIf="errorList">
    <ul>
      <li *ngFor="let error of errorList"> {{ error }} </li>
    </ul>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onConfirmClick()" cdkFocusInitial>Compris</button>
</div>
