<h1 mat-dialog-title>Suppression de l'élément {{data._id}}</h1>
<div mat-dialog-content>
 <p>Voulez-vous supprimer la meta [<strong>{{ data.name }}</strong>] ?</p>
 <!--
  <mat-form-field>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  -->
</div>
<div mat-dialog-actions>
  <button mat-flat-button (click)="onNoClick()" cdkFocusInitial>Annuler</button>
  <button mat-flat-button (click)="onOkClick()" color="warn"><mat-icon>delete</mat-icon>Confirmer</button>
  <!--<button mat-button [mat-dialog-close]="data._id" cdkFocusInitial>Confirmer</button>-->
</div>